{% load static %}
<section data-bs-version="5.1" class="info3 cid-toLvEuTzhw" id="info3-5e">

    

    
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(176, 255, 141);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-1"><strong>Пользователь был заблокирован</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7"><strong>Видимо данный юзер не читал правила и натворил делов :(</strong></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>