{% load static %}<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="ошибка">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/1605206596114447571-128x91.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>ошибка</title>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/ytplayer/index.js' %}"></script>
<script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
<link rel="shortcut icon" href="{% static 'assets/images/1605206596114447571-128x91.png' %}" type="image/x-icon">

  
</head>
<body>
  
{% include template_name %}

<section data-bs-version="5.1" class="header12 cid-tmQ84MEbZx mbr-parallax-background" id="header12-26">

    

    
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-9">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h1 class="card-title mbr-fonts-style mb-3 display-1"><strong>{{ error_title }}</strong></h1>
                        <p class="mbr-text mbr-fonts-style display-7">{{ error_desc }}</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary-outline display-4" href="{{ url_red }}">Пора исправить &gt;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer7 cid-tmQk6HzGXz" once="footers" id="footer7-2h">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © 2022 Фавн А.В. - блог о животных.&nbsp;</p>
            </div>
        </div>
    </div>
</section><section><a href="https://mobiri.se"></a><a href="https://mobiri.se"></a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/parallax/jarallax.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>