{% load static %}
<section data-bs-version="5.1" class="features18 cid-toLA4xBzoZ" id="features19-5j">

    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg">
                <div class="card-wrapper">
                    <h6 class="card-title mbr-fonts-style mb-4 display-5"><strong>Сообщество ответственных владельцов&nbsp;</strong></h6>
                    <p class="mbr-text mbr-fonts-style display-7">Наши статьи содержат полезную и развлекательную информацию, которую пишут сами пользователи или администрация. Здесь можно узнать за уходом разных питомцов, или о породах. Лучший хозяин - который заботиться о безопасности и счастье любимца :) <br>Каждый кто зарегистрируется может писать свои статьи. Если вам понравятся какие-то блогеры - вы сможете подписаться на них и вам будет приходить уведомления о новых постах. Не бойтесь спама - ведь кто-угодно не сможет публиковать материал, а если вы увидите сомнительный материал - то всегда можете пожаловаться на него.</p>
                    
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="image-wrapper">
                    <img src="/static/assets/images/4b50d4cccd0ea0492855eaddb1977015-1036x1036.jpeg" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider2 cid-toLJpqMMOd" id="slider2-5l">
    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div class="carousel slide" id="toUFoQlYX1" data-interval="5000" data-bs-interval="5000">
                    
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#toUFoQlYX1" data-bs-target="#toUFoQlYX1"></li>
                        <li data-slide-to="1" data-bs-slide-to="1" data-target="#toUFoQlYX1" data-bs-target="#toUFoQlYX1"></li>
                        <li data-slide-to="2" data-bs-slide-to="2" data-target="#toUFoQlYX1" data-bs-target="#toUFoQlYX1"></li>
                        <li data-slide-to="3" data-bs-slide-to="3" data-target="#toUFoQlYX1" data-bs-target="#toUFoQlYX1"></li>
                        <li data-slide-to="4" data-bs-slide-to="4" data-target="#toUFoQlYX1" data-bs-target="#toUFoQlYX1"></li>
                        <li data-slide-to="5" data-bs-slide-to="5" data-target="#toUFoQlYX1" data-bs-target="#toUFoQlYX1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item slider-image item active">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="/static/assets/images/main_pics/1.png" alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="/static/assets/images/main_pics/2.png" alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="/static/assets/images/main_pics/3.png" alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="/static/assets/images/main_pics/4.png" alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="/static/assets/images/main_pics/5.png" alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="/static/assets/images/main_pics/6.png" alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block">

                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev" href="#toUFoQlYX1">
                        <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next" href="#toUFoQlYX1">
                        <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content13 cid-toLFit6qT7" id="content13-5k">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5"><strong>Что это за блог?</strong></h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <ul class="list mbr-fonts-style display-7">
                            <li><strong>Блог где каждый может написать статью:</strong><br>Посты о здоровье, активной жизни, питании, досуге с любимцами. Чтобы написать первую статью нужно лишь зарегистрироваться, а это занимает меньше 2 минут</li>
                            <li><strong>Отвечайте и оценивайте статьи:</strong><br>за чистотой комментариев следит администрация, а так же есть лайки и дизлайки</li>
                            <li><strong>Я хочу кое-что узнать не засиживаясь:</strong><br>Можно воспользоваться поиском в нашей <a href="/posts/" class="text-primary" target="_blank">ленте</a>, или спросить в <a href="/chat/" class="text-primary" target="_blank">чате</a>, где сидят пользователи и время от времени администрация</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="list mbr-fonts-style display-7">
                            <li><strong>У каждого есть своя страничка:</strong><br>Вы можете заполнить свои данные и о своих питомцах, а так же сменить свою фотографию</li>
                            <li><strong>Тут есть подписчики?<br></strong>Да, здесь можно подписываться на других блогеров, и на вас тоже. Кол-во подписчиков показывается на вашей страничке. Ваши читатели будут получать уведомления о новых статьях</li><li><strong>Почему здесь безопасная информация?</strong><br>Мы следим за качеством контента, а если вы найдете что-нибудь сомнительное - вы можете подать жалобу и контент или пользователя удалят по <a href="/rules/" class="text-primary" target="_blank">правилам</a>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image1 cid-toLKO1qqGb" id="image1-5o">
    

    
    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5">
                <div class="image-wrapper">
                    <img src="/static/assets/images/1669910992794-2-1256x1673.jpeg" alt="Mobirise Website Builder">
                    <p class="mbr-description mbr-fonts-style pt-2 align-center display-4">Мои 2 из 3 кошек)</p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>Блог владельцам от владельца 3-х кошек</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">У меня у самого 3 кошки, поэтому это тройная ответственность, а так же я более года работал в зоо-области. Сколько я не искал информации я всегда рыскал по разным сайтам, ВК, пикабу, live journal, никаких специализированных и удобных источников не было. Здесь нет ничего лишнего и нет спама. Поделимся друг с другом историями, важными темами и лайф-хаками! При желании в <strong><a href="/contacts/" class="text-primary" target="_blank"><b>контактах</b></a>&nbsp;</strong>можно узнать побольше о сайте и там мое резюме для сотрудничества :)</p>
                </div>
            </div>
        </div>
    </div>
</section>