{% load static %}
<section data-bs-version="5.1" class="menu menu1 cid-tnfER1Vdfj" once="menu" id="menu1-3h">
    

    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-warning display-5" href="/">Бомбастик</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-warning display-4" href="/chat/">Чат</a></li>
                    <li class="nav-item"><a class="nav-link link text-warning display-4" href="/posts/">Поток</a></li>
                    <li class="nav-item"><a class="nav-link link text-warning display-4" href="/reg/">Войти</a>
                    </li><li class="nav-item"><a class="nav-link link text-warning display-4" href="/contacts/">Контакты</a></li></ul>
                
                
            </div>
        </div>
    </nav>
</section>