{% load static %}<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="почта">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/1605206596114447571-128x91.png" type="image/x-icon">
  <meta name="description" content="">

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap"></noscript>
  
  
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/ytplayer/index.js' %}"></script>
<script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">

  
</head>
<body>
  
  <section data-bs-version="5.1" class="header7 cid-tovq5VWuQy" id="header7-4u">

    

    
    

    <div class="text-right container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-6">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Вы подтверждаете почту?</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">Была отправлена ссылка на подтверждение почты в блоге о животных. Если нажмете на кнопку то сможете писать больше статей и комментариев :)</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://bombast.ru/account/apply_email/">Подтвердить</a></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>