{% load static %}
  <section data-bs-version="5.1" class="header12 cid-tnEKQviCbW" id="header12-3n">

    

    
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-9">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h1 class="card-title mbr-fonts-style mb-3 display-1"><strong>{{ w_title }}</strong></h1>
                        <p class="mbr-text mbr-fonts-style display-7">{{ w_desc }}</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary-outline display-4" href="{{ w_url }}">Исправить... &gt;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>