{% load static %}<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image:src" content="">
    <meta property="og:image" content="">
    <meta name="twitter:title" content="Статья">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="">


    <title>{{ title }}</title>
    <meta name="description" content="{{ text }}"/>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap">
    </noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap">
    </noscript>
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap">
    </noscript>


    <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/theme/js/script.js' %}"></script>
    <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
    <script src="{% static 'assets/ytplayer/index.js' %}"></script>
    <script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
    <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/sociallikes/social-likes.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
    {% include 'icon.html' %}


</head>
<body>

{% include template_name %}

<section data-bs-version="5.1" class="content4 cid-tnEQ3VEfVk" id="content4-3s">


    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-1"><strong>{{ title }}</strong>
                </h3>


            </div>
        </div>
    </div>
</section>

{% if is_adult %}

<section data-bs-version="5.1" class="content15 cid-toLp7fZAHA" id="content15-5d">


    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-12 col-lg-8">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mbr-white mb-3 display-5"><strong>18+ Возможно шокирующий
                            контент</strong></h4>
                        <p class="mbr-text mbr-fonts-style display-4">Данная статья или ее комментарии могут содержать
                            контент не подходящий детям или чувствительным людям</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

<section data-bs-version="5.1" class="content5 cid-tnEQlhBzWF" id="content5-3t">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-11">


                <p style="white-space: pre-wrap" class="mbr-text mbr-fonts-style display-7">{{ text }}</p>
            </div>
        </div>
    </div>
</section>

{% if pic_1 %}
<section data-bs-version="5.1" class="image3 cid-tnEThn4s56" id="image3-3z">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="image-wrapper">
                    <img src="{{ pic_1 }}" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% if pic_2 %}
<section data-bs-version="5.1" class="image3 cid-tnEThn4s56" id="image3-3z">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="image-wrapper">
                    <img src="{{ pic_2 }}" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% if pic_3 %}
<section data-bs-version="5.1" class="image3 cid-tnEThn4s56" id="image3-3z">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="image-wrapper">
                    <img src="{{ pic_3 }}" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

<section data-bs-version="5.1" class="contacts4 cid-tnESaV1EhL" id="contacts4-3y">


    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="text-content col-12 col-md-6">
                <h2 class="mbr-section-title mbr-fonts-style display-7"><strong>Дата публикации: {{ data_of_create }}<br>
                </strong>Автор: <a href="/user/{{id_user}}">{{ author }}</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br><strong>Теги:</strong>
                </h2>
                <p class="mbr-text mbr-fonts-style display-7">{{ tags }}<br></p>
            </div>
            <div class="icons d-flex align-items-center col-12 col-md-6 justify-content-end mt-md-0 mt-2 flex-wrap">
                <a href="{{ good_src }}" >
                    <span class="mbr-iconfont mbr-iconfont-social mobi-mbri-smile-face mobi-mbri"
                          style="color: rgb(114, 206, 73); fill: rgb(114, 206, 73);"></span>
                </a>
                <a href="{{ bad_src }}">
                    <span class="mbr-iconfont mbr-iconfont-social mobi-mbri-sad-face mobi-mbri"
                          style="color: rgb(114, 206, 73); fill: rgb(114, 206, 73);"></span>
                </a>


            </div>
        </div>
    </div>

</section>

{% if is_author %}

<section data-bs-version="5.1" class="content12 cid-totoOxxXrc" id="content12-4f">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="update/">Изменить статью</a>
                    <a class="btn btn-primary display-4" href="delete/">Удалить статью</a></div>
            </div>
        </div>
    </div>
</section>

{% else %}

<section data-bs-version="5.1" class="content11 cid-totq22xRJg" id="content11-4g">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="mbr-section-btn align-center"><a class="btn btn-success display-4" href="report/">Пожаловаться</a></div>
            </div>
        </div>
    </div>
</section>

{% endif %}
<section data-bs-version="5.1" class="features13 cid-tnEWUlWExY" id="features14-41">


    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-4 mbr-fonts-style display-5"><strong>Оценка
                    читателей</strong></h3>
            </div>
            <div class="card col-12 col-md-4 col-lg-2 p-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-smile-face mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>{{ good_num }}</strong>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-sad-face mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>{{ bad_num }}</strong></h4>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-tnER8SSn4E" id="form5-3v">

    {% if login %}

        <div class="container">

            <div class="row justify-content-center mt-4">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="" method="POST" class="mbr-form form-with-styler"
                          data-form-title="Form Name">
                        {% csrf_token %}
                        <input type="hidden" name="email" data-form-email="true"
                                                             value="05KWD8PxEuj2pir5mAQUB2eKS8S6rVQTguC/9EYGG8ZpEU129AGLvPAZDoognnr5PnA0qG/oxDok3D429SIT7yEnw0ZeSsgSp/lywdP+bOMOB10bflFjm5XVWXvPPP05">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                                out the form!
                            </div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">


                            <div class="col-12 form-group mb-3" data-for="textarea">
                                <textarea name="comment" placeholder="" data-form-field="textarea"
                                          class="form-control" id="textarea-form5-3v" maxlength="224"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-4">Оставить комментарий</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}

    {% include 'window_censore.html' %}

    {% endif %}
</section>

<section data-bs-version="5.1" class="content7 cid-tnEQu3SCch" id="content7-3u">

    {% if comments %}
    {% for el in comments %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <blockquote>
                    <h5 class="mbr-section-title mbr-fonts-style mb-2 display-7"><a href="/user/{{ id_user }}"><strong> {{ el.author_com }} </strong></a></h5>
                    <p class="mbr-text mbr-fonts-style display-4">{{ el.text }}</p></blockquote>
                    <p><a href="report/{{ el.id }}/"><small>Пожаловаться</small></a></p>
                    {% if is_author %}
                    <p><a href="delete/{{ el.id }}/"><small>Удалить</small></a></p>
                    {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>

{% include 'footer.html' %}


</body>
</html>