{% load static %}<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Главная">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="это блог о питомцах, где можно поделиться своими любимцами, попросить совет, где лучшие клиники и магазины. Расскажите о своей любимой породе, или может - о том что вам нравятся ''двортерьер''? Делитесь своим мнением, здесь у каждого есть право голоса :)">
  
  <meta name="yandex-verification" content="f0038716861f6147" />

  <title>Главная</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap"></noscript>
  
  
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/ytplayer/index.js' %}"></script>
<script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
{% include 'icon.html' %}

  
</head>
<body>
  
{% include template_name %}

<section data-bs-version="5.1" class="header7 cid-tmfdhR1qAB" id="header7-l">

    

    
    

    <div class="text-right container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-4">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Бомбастик -</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">это блог о питомцах, где можно поделиться своими любимцами, попросить совет, где лучшие клиники и магазины. Расскажите о своей любимой породе, или может - о том что вам нравятся "двортерьер"? Делитесь своим мнением, здесь у каждого есть право голоса :)</p>
                
            </div>
        </div>
    </div>
</section>

{% include 'inside_main.html' %}

{% include 'footer.html' %}

</body>
</html>