{% load static %}<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image:src" content="">
    <meta property="og:image" content="">
    <meta name="twitter:title" content="аккаунт">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="">


    <title>Мой аккаунт</title>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap">
    </noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap">
    </noscript>
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap">
    </noscript>


    <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/theme/js/script.js' %}"></script>
    <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
    <script src="{% static 'assets/ytplayer/index.js' %}"></script>
    <script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
    <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
    {% include 'icon.html' %}


</head>
<body>

{% include template_name %}


{% if true_email == False %}

<section data-bs-version="5.1" class="pricing1 cid-tn8nVRTFdT" id="pricing1-32">

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">

                    <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="{{ url }}">Моя страничка</a>
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">

                        <p class="mbr-text mbr-fonts-style mb-5 display-7">Подтвердите почту чтобы публиковать больше
                            постов и комментариев</p>
                    </div>
                    <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="send_apply/">Отправить
                        email</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}

<section data-bs-version="5.1" class="pricing1 cid-tn8nVRTFdT" id="pricing1-32">

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">

                    <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="{{ url }}">Моя страничка</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endif %}

<section data-bs-version="5.1" class="form5 cid-tmkJalPkiX" id="form5-16">


    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Обо мне</strong>
            </h3>


        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input
                        type="hidden" name="email" data-form-email="true"
                        value="CZKMidNM3iwmZ3D1H6izqMo0krh5c5ndQ7p589sed2mpoJVP2FeTsihUiVL1SF+PpHjACwR5GqMbJyby/ZWsq+sr0zWnycz3SYVKOyIbOHr6sqyYrhb2K2+/TuSNgj7d">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Изменения будут
                            сделаны
                        </div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="full_name" placeholder="Имя, не обязательно" data-form-field="name"
                                   class="form-control" value="" id="name-form5-16" maxlength="39">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email"
                                   class="form-control" value="" id="email-form5-16" maxlength="29">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="url">
                            <input type="text" name="gender" data-form-field="url" class="form-control" value=""
                                   placeholder="Пол" id="url-form5-16" maxlength="10">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="desc" placeholder="Расскажите о себе и сво-ем/их любимцах"
                                      data-form-field="textarea" class="form-control" id="textarea-form5-16"
                                      maxlength="899"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-success display-4">Изменить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</section>

{% include 'ava_form.html' %}

<section class="witsec-mailform mbr-section cid-tovsYQOil5" id="witsec-mailform-builder-53" data-rv-view="1413">


    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">Ваш временной пояс</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">По умолчанию мы
                    используем время по Лондону (UTC+0)</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8">
                <form action="/time/" method="post" class="mbr-form">
                    {% csrf_token %}
                    <input type="hidden" name="subject" value="A message from your website.">


                    <div class="rowflexrev flex-column">
                        <div class="row">
                            <div class="col-md-12 form-group ws-form-alerts">
                                <div hidden="hidden"
                                     class="alert alert-success col-12 mbr-alert-success mbr-fonts-style display-7">
                                    Thanks for filling out the form!
                                </div>
                                <div hidden="hidden"
                                     class="alert alert-danger col-12 mbr-alert-danger mbr-fonts-style display-7">An
                                    error occured. Please try again.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-3 form-group col-md-9"><p
                                            class="mbr-section-labels mbr-text mbr-fonts-style display-7">Время</p>
                                        <select name="time" class="form-control display-7" witsec-required="true">
                                            <option witsec-html="1">UTC+9 Амурская область</option>
                                            <option witsec-html="2">UTC+10 Хабаровский край</option>
                                            <option witsec-html="3">UTC+8 Иркутская область</option>
                                            <option witsec-html="4">UTC+2 Калининградская область</option>
                                            <option witsec-html="5">UTC+1 Алжир</option>
                                            <option witsec-html="6">UTC+3 Москва</option>
                                            <option witsec-html="7">UTC-9 Аляска</option>
                                            <option witsec-html="8">UTC−4 Боливия</option>
                                            <option witsec-html="9">UTC−6 Коста-Рика</option>
                                            <option witsec-html="10">UTC−5 Перу</option>
                                            <option witsec-html="11">UTC−10 Гавайи</option>
                                            <option witsec-html="12">UTC−7 Ванкувер</option>
                                            <option witsec-html="13">UTC−3:30</option>
                                            <option witsec-html="14">UTC−8 Калифорния</option>
                                            <option witsec-html="15">UTC+0 Лондон</option>
                                            <option witsec-html="16">UTC+7 Алтайский край</option>
                                            <option witsec-html="17">UTC+4 Самарская область</option>
                                            <option witsec-html="18">UTC+5 Башкортостан</option>
                                            <option witsec-html="19">UTC+6 Омск</option>
                                            <option witsec-html="20">UTC+9 Якутия</option>
                                            <option witsec-html="21">UTC+11 Магаданская область</option>
                                            <option witsec-html="22">UTC+12 Камчатский край</option>
                                        </select></div>


                                </div>
                            </div>


                            <div class="g-recaptcha col-md-12 form-group"></div>
                            <div class="col-md-12 input-group-btn align-center">
                                <input type="submit" value="Использовать это время" class="btn btn-primary btn-form display-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content14 cid-tmkJYJkzYg" id="content14-17">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5"><strong>О вас</strong></h3>
                <ul class="list mbr-fonts-style display-7">
                    <li><strong>Ваша почта</strong><br>{{email}}</li>
                    <li><strong>Пароль</strong><br><a href="/change_pass/">Изменить</a></li>
                    <li><strong>Имя</strong><br>{{full_name}}</li>
                    <li><strong>О вас и ваших любимцах</strong><br>{{desc}}</li>
                    <li><strong>Пол<br></strong>{{gender}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content11 cid-tmkMJTt69h" id="content11-18">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="mbr-section-btn align-center"><a class="btn btn-success display-4" href="/account/delete">Удалить
                    аккаунт</a>
                    <a class="btn btn-success display-4" href="/account/logout">Выйти из аккаунта</a></div>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html' %}

</body>
</html>