{% load static %}<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Подтв удал статью">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/1605206596114447571-128x91.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Вы подали жалобу</title>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap"></noscript>
  
  
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/ytplayer/index.js' %}"></script>
<script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
{% include 'icon.html' %}

  
</head>
<body>
  
{% include template_name %}

<section data-bs-version="5.1" class="content4 cid-totqk6rcWo" id="content4-4h">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-1"><strong>Вы успешно подали жалобу</strong></h3>
                
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content6 cid-totqk6Mad2" id="content6-4i">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <hr class="line">
                <p class="mbr-text align-center mbr-fonts-style my-4 display-7">Спасибо, что подали жалобу, это помогает
                    модерировать сайт. Если мы найдем нарушение правил этой странички, мы дадим знать автору или удалим ее.
                    Если нарушения не будут найдены статья будет не тронута. Если нарушения в комментариях, отметьте их
                    кнопкой <strong>Пожаловаться</strong> у самого комментария. В иных случаях пишите в
                    <strong>Контакты</strong>
                </p>
                <hr class="line">
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-tmQ6upScER" id="form5-1z">


    <div class="container">

        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="cEGa7OB7ig+B98S1v/R9UiMv9kvvoca1XW1Pooc2Ov6Kt2dcuKRT3gWP+2U2Tbf6TGo88EIPxWLDIX500FHrK8jZlJw2k0Q95DaCAWXPh0hjNXDtNmRf3QaIYcurp7zQ">
                   {% csrf_token %}
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">

                       <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><input type="submit" class="btn btn-danger display-4"><a href="{{ url }}">Вернуться</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
  
</body>
</html>