{% load static %}<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Правила пользования">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  
  
  <title>Правила пользования</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap"></noscript>
  
  
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/ytplayer/index.js' %}"></script>
<script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
{% include 'icon.html' %}

  
</head>
<body>
  
  {% include template_name %}

<section data-bs-version="5.1" class="features7 cid-tmQ8OoNOCi" id="features8-2a">
    <!---->
    

    
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row">
            <div class="title col-12">
                <h5 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Правила пользователя</strong></h5>
                
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Нет спаму</strong></h6>
                        <p class="mbr-text cost mbr-fonts-style display-5"></p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">Любой спам будет удаляться, реклама, троллинг, порно. Единственное что я не буду трогать - это если вместе с полезной статьей будет приведены (не большое кол-во) ссылок связанные с тематикой сайта. Приемлемы статьи с указанием фондов и приютов, но пожертвования - это только ваш риск. Если увидели мошенников, пишите в контакты</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Нет вне-тематическим разговорам</strong></h6>
                        <p class="mbr-text cost mbr-fonts-style display-5"></p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">В меру уклон, в виде небольших комментариев, это нормально. Любые статьи или большие дискуссии в комментариях и чатах вне темы - будут удаляться.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Нет харассменту</strong></h6>
                        <p class="mbr-text cost mbr-fonts-style display-5"></p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">Все оскорбления направленное на любого пользователя в данном блоге не разрешены.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Тяжелый контент</strong></h6>
                        <p class="mbr-text cost mbr-fonts-style display-5">18+</p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">Бывает, что статьи могут содержать неприятный контент с травмами и болезнями животных. Если вы таковой пишите, используете мат, или ваши комментарии это содержат - прошу ставить предупреждение в начале статьи. Если вы упустите это несколько раз, ваши статьи будут удалены. Пометка никак не убирает и не мешает появлению вашего поста в ленте</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Блог, а не форум</strong></h6>
                        <p class="mbr-text cost mbr-fonts-style display-5"></p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">Не бывает глупых вопросов. Статьи сделаны для информирования и развлекательного контента. Если у вас есть какие-либо вопросы - поищите через поиск на нашем сайте посты или спросите в нашем онлайн чате</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Как написать хорошую статью</strong></h6>
                        <p class="mbr-text cost mbr-fonts-style display-5"></p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">С помощью тегов людям будет проще найти ваш материал, так же прикрепляйте картинки и делитесь своим материалом в соц-сетях. Лучшие статьи за неделю будут приходить на почту всех пользователей и они с большим шансом ее прочитают.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>аккаунт</strong></h6>
                        <p class="mbr-text cost mbr-fonts-style display-5"></p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">Ваш аккаунт, статьи и комментарии - могут быть удалены при нарушении правил. Так же аккаунт может быть стерт если вы не пользовались блогом от 5 месяцев. При бездействии аккаунта, в отличие от нарушений - статьи и комментарии не удаляются, а так же можно восстановить данные до 1 года.<br>Для длительного пользования блогом вам нужно будет подтвердить почту.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Ваши контакты</strong></h6>
                        <p class="mbr-text cost mbr-fonts-style display-5"></p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">Любые ваши данные такие как имя, вы в праве менять на любые. Единственное, без мата и оскорблений, без политической и нравственной привязки. Свои ссылки на своей страничке - такие же правила, но можете оставить ссылки на свои соц-сети</p>
                    </div>
                </div>
            </div>
            
            
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content6 cid-tmQhLmytXs" id="content6-2b">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <hr class="line">
                <p class="mbr-text align-center mbr-fonts-style my-4 display-5"><em>При регистрации и создании контента, вы подтверждаете ,что прочитали и согласны с правилами сайта</em></p>
                <hr class="line">
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
  
</body>
</html>